.heading {
  margin: 0;
  font-weight: 900;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .heading {
    margin-bottom: 17px;
    font-size: 28px;
    line-height: 37px;
    color: #1f2e55;
  }
}
