.button__submit {
  border: none;
  display: block;
  min-width: 279px;
  margin: 0 auto;
  background: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  padding: 15px 64px;
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button__submit:hover {
  background: #766cf1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

@media screen and (min-width: 768px) {
  .button__submit {
    padding: 15px 102px;
    width: 354px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 32px;
  }
}
